<html>
   <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <title>Restaurant</title>

<style>
.button {
    background-color: #f44336; /* RED */
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    cursor: pointer;
}
</style>


   </head>
   
   <body>
      <div class="w3-container w3-red w3-center">
      <H1>Restaurants</H1>

      <p>User:<%= name %></p>
      </div>
      </br>
      <form action="/search" method="post" enctype="multipart/form-data">
        Search:
        <select name="searchType">
          <option value="name">Name</option> 
          <option value="borough">Borough</option> 
          <option value="cuisine">Cuisine</option> 
          <option value="street">Street</option> 
          <option value="building">Building</option> 
          <option value="zipcode">Zip Code</option>
          <option value="owner">Create by</option>  
        </select>
        <input type="text" name="criteria" required=""></t>
        <input type="submit" name="Search"></t>
        <p/>
      		<input class="button" type="button" onclick="window.location.href='/newRestaurant'" value="Create New Restaurant"></t>
      		<input class="button" type="button" onclick="window.location.href='/logout'" value="Logout">
		
      		<table border='0' width="max">
			</br>
			<H5><b> Name </b></H5>
      			<tbody>
      				<% for(var i = 0; i<photos.length; i++){ %>
      				<tr><td><a href='/display?_id=<%= photos[i]._id%>'><%= photos[i].name%></a></td></tr>
      				<% }%>
      			</tbody>
      		</table>
      </form>
   </body>
</html>
