<HTML>
<BODY>
    <H1>
         Welcome!
    </H1><br/>
    <form action="/login" method="post">
    	user id<input type="input" name="userid"><br/>
    	password<input type="input" name="pw"><br/>
    	<input type="submit" name="submit">
    	<a href="/reg">Sign up</a>
    </form>
</BODY>
</HTML>